<h2 class="galldialogtitle" mat-dialog-title>Gallery Item Info</h2>

<div class="galdialogcontent" mat-dialog-content>
    <!-- <img src="{{localhoststring}}" width="250px" height="300px"alt="This is for localhost server"> -->
    <img src="{{localProduction}}" width="250px" height="300px"alt="Product details">
   <!--  <img src="{{url}}" width="250px" height="300px"alt="This is for localhost">-->
    <p><b class="subsubtitle">Item Title</b>&nbsp;&nbsp;-&nbsp;&nbsp;{{data.imgtitle}}</p>
    <p><b class="subsubtitle">Item Category</b>&nbsp;&nbsp;-&nbsp;&nbsp;{{data.category}}</p>
    
</div>
<div class="closebtndiv" mat-dialog-actions>
    <button mat-raised-button (click)="onCancel()">Close Card</button>
</div>