<h2 class="galldialogtitle" mat-dialog-title>Gallery Item Info</h2>
<div class="galdialogcontent" mat-dialog-content>
    <img src="{{data.imgurl}}" width="250px" height="300px"alt="Url is wrong">
    <p><b class="subsubtitle">Item Title</b>&nbsp;&nbsp;-&nbsp;&nbsp;{{data.imgtitle}}</p>
    <p><b class="subsubtitle">Item Description</b>&nbsp;&nbsp;-&nbsp;&nbsp;{{data.imginfo}}</p>
    
</div>
<div class="closebtndiv" mat-dialog-actions>
    <button mat-raised-button (click)="onCancel()">Close Card</button>
</div>