
<div>
<div class="paypageinfo">
    <h1 class = "paypagetitle">Payment Page</h1>
    <h4>This page is created for you to pay for your order! After talking with us and your order being approved you will 
        be sent an email letting you know you can pay and using the order id in the email , you can find your order and pay for it. 
        If any problems arise , please let us know immediately
    </h4>
    <h2>Please note, payments will only be taken in the form of Paypal. You must have a Paypal account in order to pay</h2>
</div>

    <div class="orderdiv">
        
        
        <form id="pay-form" [formGroup]="payForm" >
            <mat-label>Enter Your Order Number:</mat-label>
            &nbsp;&nbsp;&nbsp;
            <mat-form-field>
              <mat-label>Order Number</mat-label>
              <input type="text" matInput formControlName="orderID">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btnSubmit" type="submit"(click)="test()" mat-raised-button>Search</button>
            </mat-form-field>

        </form>
        
        

    </div>

    <ng-template [ngIf]="orderdata.orderStatus == 'Approved'">
    <div class="orderinfodiv">
        <h2>Order Information</h2>
        <p>Name - {{orderdata.fullName}}</p>
        <p>Email - {{orderdata.email}}</p>
        <p>Item Style - {{orderdata.style}}</p>
        <p>Order Status - {{orderdata.orderStatus}}</p>
        <p>Price - ${{orderdata.price}}</p>
        <p>Date Ordered - {{orderdata.orderDate}}</p>
        <p>Order Details - {{orderdata.orderDetails}}</p>
        
    </div>
    </ng-template>
</div>  
