.paypageinfo , .orderdiv{
    background-color: rgba(24, 23, 23, 0.95);
    backdrop-filter: blur(3px);
    padding: 24px;
    margin: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px rgb(122, 122, 122);
    text-align: center;
    border-radius: 12px;
  }

  h1{
    font-size: 50px;
    line-height: 1.5;
  }

.mat-form-field input {
    height: 20px;
    transition: height ease-in-out 400ms;
}

.mat-form-field input:focus {
    background-color: rgb(51, 49, 49) !important;
    height: 50px;
    transition: height ease-in-out 400ms;
}