<!DOCTYPE html>
<html lang="en">



<body class="mainbody">


<div class="contentdiv"><h1 class="pagetitle">About Wood Stove Leather Goods</h1>

    <h3 class="title">Husband and wife leathercrafters!</h3>
    
    <p class="parainfo">Norah Spades- Stephens & Brendan James Stephens are Husband & Wife Leathercrafters. They fell in love with leathercraft and the intricate process of taking hide and making it into a quality leather keepsake.
    
        Now currently based in Southwestern Ontario though they began making leather goods in a little log cabin in the middle of the woods in Nova Scotia. - Park the truck, hike into the woods, cross a river and up a hill to the log cabin, middle of the woods. They spent countless hours hand carving, hand tooling & hand stitching their custom leather goods near their woodstove, that their leather goods retained the scent of their smoky woodstove burning long into the night. Woodstove Leather Goods was born, and took off with their quality, handmade leather goods being shipped internationally all over Canada the USA, Europe & Australia. With over 530+ Custom Leather Goods being designed and made specifically for their wearer, Woodstove Leather Goods focuses on the intricate details of each good. Although they mostly focus on custom leather goods the two of them have decided to add some things to etsy!
        
        Specializing in Custom; Suspenders, Belts, Guitar Straps, Journals, Dog & Kitty Cat Collars & Leashes, Camera Straps, Flask Covers, Mason Jar Coozies, Yoga Mat Slings, Leather Jewelry, Wine Bottle Covers, Bike Panniers, Steering Wheel Covers, Key Chains, Glove Holders, Purses, Wallets, Coin Purses, Rifle Slings, Knife Sheathes, Knife Rolls, Holsters, & More!</p>
    
    

    <div class="socialdiv">
        <h1>Woodstove Leather Goods Social Links</h1>
        <br/>
        <a href="https://www.facebook.com/woodstoveleathergoods/" class="fa fa-facebook" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a>
        <br/>
        <a href="https://www.etsy.com/ca/shop/WoodstoveleatherCA" class="fa fa-etsy" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Etsy</a>
        <br/>
        <a href="https://www.instagram.com/woodstoveleathergoods/?hl=en" class="fa fa-instagram" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instagram</a>
        
      <br>
      </div>
    </div>
    </body>
</html>

