<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phantom Troupe Web App</title> <!-- needs to be changed on deliverable -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">

  
</head>

<body class="mainbody">
  <app-nav-header></app-nav-header>
  <br/>
  <br/>
  <br/>
  <br/>
<div class="mainpagediv">
  <div class="highlights">
    
    
    <ngb-carousel>
      <ng-template ngbSlide>
        <div>
          <img class="pic" src="../assets/images/bag.jpg" alt="bag">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div>
          <img class="pic" src="../assets/images/belt.jpg" alt="belt">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div>
          <img class="pic" src="../assets/images/Wallet_Pipe.jpg" alt="wallet-pipe">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div>
          <img class="pic" src="../assets/images/pipe.jpg" alt="pipe">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div>
          <img class="pic" src="../assets/images/leatherBoard.jpg" alt="leather-board">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="socialdiv">
    <h1>Woodstove Leather Goods Social Links</h1>
    <h3>This area contains all the social links for Woodstove Leather Goods such as Facebook, Instagram, and more!</h3>
    <br/>
    <a href="https://www.facebook.com/woodstoveleathergoods/" class="fa fa-facebook" target="_blank"></a><h4>&emsp;Facebook</h4>
    <br/>
    <a href="https://www.etsy.com/ca/shop/WoodstoveleatherCA" class="fa fa-etsy" target="_blank"></a><h4>&emsp;Etsy</h4>
    <br/>
    <a href="https://www.instagram.com/woodstoveleathergoods/?hl=en" class="fa fa-instagram" target="_blank"></a><h4>&emsp;Instagram</h4>
    
  <br>
  </div>

  <div class="contentdiv"><h1 class="pagetitle">Woosdstove THE PULL WORKED</h1>
    <h4 class="title">In this area we will have a nav bar with the links to the pages , the only page we have to worry about right now is the Gallery page , and About page if we have some extra time</h4>
    <h4 class="title">The nav bar will be right aligned next to the title , containing the links as defined in our wireframe</h4>


    <h1>Lorem Title</h1>
    <h4>Please enjoy Lorem Ipsum i can still push right</h4>
    <p>Whats to be in this section is to be decided , as for a first sprint we can just put three pictures as "highlights" of what they do , instead of the rotating images like in wireframe. That could be implemented over the summer.
      Also we should continue this , atleast the frontend over the summer. We dont gotta treat it like an assignment just that we slowly work on it over the summer because our sem 6 is packed and its better to get annoying shit out of the way. If we even finish it in the summer thats event better so its lightwork for sem6
    </p>
  </div>-

  
  <br/>
  <br/>
  <br/>
</div>
  <div class="footerdiv">
    <h4>@2022 - Woodstove Leather Goods. All rights reserved</h4>
  </div>
</body>
</html>