<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phantom Troupe Web App</title> <!-- needs to be changed on deliverable -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body class="mainbody">
  <div class="headerdiv">
    <h1 class="title">Phantom Troupe Webapp Base Template</h1>
    <h4 class="title">Below me will be a lorem ipsum text to test the site</h4>
  </div>

  <div class="contentdiv">
    <h1>Lorem Title</h1>
    <h4>Please enjoy Lorem Ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum elit vitae arcu euismod tincidunt. Donec dui tortor, pharetra non rutrum ut, consectetur a est. Fusce imperdiet varius erat sit amet efficitur. Fusce placerat gravida volutpat. Suspendisse vehicula consectetur lacus ut vehicula. In auctor lectus purus, et luctus purus faucibus in. Mauris vitae eleifend odio.

      Curabitur diam arcu, accumsan ut odio at, faucibus venenatis magna. Cras maximus ex dolor. Donec laoreet consequat lectus vel facilisis. Nulla massa metus, vulputate sit amet fermentum id, aliquet nec tortor. Integer eget massa ut augue tempus sollicitudin ac eu ipsum. Vestibulum ac purus at ligula imperdiet accumsan ut non metus. Nullam vitae odio accumsan, molestie lorem sagittis, ultrices magna. Vestibulum pretium leo et mi hendrerit eleifend. Phasellus nisi justo, mattis at pharetra at, accumsan ut orci. Donec a mattis urna. Pellentesque laoreet lobortis aliquam. Duis semper non metus quis varius. Mauris eget auctor sem, sed laoreet sem. Suspendisse eget turpis in urna sollicitudin bibendum malesuada nec arcu. Pellentesque accumsan ligula mi, pharetra convallis ligula fringilla quis.
      
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit nisl ligula, id volutpat turpis dapibus quis. Suspendisse elementum auctor sodales. Nullam ante lacus, elementum in mattis et, dictum a orci. Fusce vitae vehicula magna. Curabitur tristique eleifend iaculis. Donec et massa felis. Pellentesque nec convallis mauris. Donec faucibus quis turpis eu aliquam.</p>
  </div>

  <div class="contentdiv">
    <h1>Lorem Title</h1>
    <h4>Please enjoy Lorem Ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum elit vitae arcu euismod tincidunt. Donec dui tortor, pharetra non rutrum ut, consectetur a est. Fusce imperdiet varius erat sit amet efficitur. Fusce placerat gravida volutpat. Suspendisse vehicula consectetur lacus ut vehicula. In auctor lectus purus, et luctus purus faucibus in. Mauris vitae eleifend odio.

      Curabitur diam arcu, accumsan ut odio at, faucibus venenatis magna. Cras maximus ex dolor. Donec laoreet consequat lectus vel facilisis. Nulla massa metus, vulputate sit amet fermentum id, aliquet nec tortor. Integer eget massa ut augue tempus sollicitudin ac eu ipsum. Vestibulum ac purus at ligula imperdiet accumsan ut non metus. Nullam vitae odio accumsan, molestie lorem sagittis, ultrices magna. Vestibulum pretium leo et mi hendrerit eleifend. Phasellus nisi justo, mattis at pharetra at, accumsan ut orci. Donec a mattis urna. Pellentesque laoreet lobortis aliquam. Duis semper non metus quis varius. Mauris eget auctor sem, sed laoreet sem. Suspendisse eget turpis in urna sollicitudin bibendum malesuada nec arcu. Pellentesque accumsan ligula mi, pharetra convallis ligula fringilla quis.
      
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit nisl ligula, id volutpat turpis dapibus quis. Suspendisse elementum auctor sodales. Nullam ante lacus, elementum in mattis et, dictum a orci. Fusce vitae vehicula magna. Curabitur tristique eleifend iaculis. Donec et massa felis. Pellentesque nec convallis mauris. Donec faucibus quis turpis eu aliquam.</p>
  </div>
  <div class="contentdiv">
    <h1>Lorem Title</h1>
    <h4>Please enjoy Lorem Ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum elit vitae arcu euismod tincidunt. Donec dui tortor, pharetra non rutrum ut, consectetur a est. Fusce imperdiet varius erat sit amet efficitur. Fusce placerat gravida volutpat. Suspendisse vehicula consectetur lacus ut vehicula. In auctor lectus purus, et luctus purus faucibus in. Mauris vitae eleifend odio.

      Curabitur diam arcu, accumsan ut odio at, faucibus venenatis magna. Cras maximus ex dolor. Donec laoreet consequat lectus vel facilisis. Nulla massa metus, vulputate sit amet fermentum id, aliquet nec tortor. Integer eget massa ut augue tempus sollicitudin ac eu ipsum. Vestibulum ac purus at ligula imperdiet accumsan ut non metus. Nullam vitae odio accumsan, molestie lorem sagittis, ultrices magna. Vestibulum pretium leo et mi hendrerit eleifend. Phasellus nisi justo, mattis at pharetra at, accumsan ut orci. Donec a mattis urna. Pellentesque laoreet lobortis aliquam. Duis semper non metus quis varius. Mauris eget auctor sem, sed laoreet sem. Suspendisse eget turpis in urna sollicitudin bibendum malesuada nec arcu. Pellentesque accumsan ligula mi, pharetra convallis ligula fringilla quis.
      
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit nisl ligula, id volutpat turpis dapibus quis. Suspendisse elementum auctor sodales. Nullam ante lacus, elementum in mattis et, dictum a orci. Fusce vitae vehicula magna. Curabitur tristique eleifend iaculis. Donec et massa felis. Pellentesque nec convallis mauris. Donec faucibus quis turpis eu aliquam.</p>
  </div>
  <div class="contentdiv">
    <h1>Lorem Title</h1>
    <h4>Please enjoy Lorem Ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum elit vitae arcu euismod tincidunt. Donec dui tortor, pharetra non rutrum ut, consectetur a est. Fusce imperdiet varius erat sit amet efficitur. Fusce placerat gravida volutpat. Suspendisse vehicula consectetur lacus ut vehicula. In auctor lectus purus, et luctus purus faucibus in. Mauris vitae eleifend odio.

      Curabitur diam arcu, accumsan ut odio at, faucibus venenatis magna. Cras maximus ex dolor. Donec laoreet consequat lectus vel facilisis. Nulla massa metus, vulputate sit amet fermentum id, aliquet nec tortor. Integer eget massa ut augue tempus sollicitudin ac eu ipsum. Vestibulum ac purus at ligula imperdiet accumsan ut non metus. Nullam vitae odio accumsan, molestie lorem sagittis, ultrices magna. Vestibulum pretium leo et mi hendrerit eleifend. Phasellus nisi justo, mattis at pharetra at, accumsan ut orci. Donec a mattis urna. Pellentesque laoreet lobortis aliquam. Duis semper non metus quis varius. Mauris eget auctor sem, sed laoreet sem. Suspendisse eget turpis in urna sollicitudin bibendum malesuada nec arcu. Pellentesque accumsan ligula mi, pharetra convallis ligula fringilla quis.
      
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit nisl ligula, id volutpat turpis dapibus quis. Suspendisse elementum auctor sodales. Nullam ante lacus, elementum in mattis et, dictum a orci. Fusce vitae vehicula magna. Curabitur tristique eleifend iaculis. Donec et massa felis. Pellentesque nec convallis mauris. Donec faucibus quis turpis eu aliquam.</p>
  </div>

  <div class="footerdiv">
    <h4>Footer content at the bottom. Phantom Troupe Webapp. There is tons of lorem ipsum to make sure that footer stays at bottom</h4>
  </div>
</body>
</html>