<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phantom Troupe Web App</title> <!-- needs to be changed on deliverable -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">

  
</head>

<body class="mainbody">
  <app-nav-header></app-nav-header>
  <br/>
  <br/>
  <br/>
  <br/>
  

  <router-outlet></router-outlet>



  <div class="footerdiv">
    <h4>@2022 - Woodstove Leather Goods. All rights reserved</h4>
  </div>
</body>
</html>