



.well {
	height: 650px;
	border-radius: 0px 0px 6px 6px;
	margin-right: 10px;
	
}

/* Set gray background color and 100% height */
  .sidenav {
	left:0px; 
	top:50px;
    background-color: #fff;
	text-align: center;
	width: 10%;
    height: 300px;
  }

  .logoutbutton
  {
	  color: rgb(216, 42, 42);
	  background: rgba(226, 12, 12, 0.15)
	  
  }

 .img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
 }
  .table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}
.table th,
.table td {
    padding: 12px 15px;
    text-align: center;
}
.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.inTable{
	border-bottom: none !important;
	width: 72%;
	vertical-align: middle !important;
}
.table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

#Cancel {
	background-color:#eb0303;
	color:white;
}
#Cancel:hover {
	background:linear-gradient(to bottom, #eb0303 5%, #ffc477 100%);
	background-color:#d80d0d;
}
#Cancel:active {
	position:relative;
	top:1px;
}

#Approved {
	background-color:#06b814;
	color:white;
}
.MarkComplete {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #1c6122 5%, #06b814 100%);
	background-color:#06b814;
	border-radius:10px;
	height:40px;
    width: 200px;
	border:2px solid #06b814;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #06b814;
	float: left;

}
.status {
  background-color: initial;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}


.status:hover {
  box-shadow: rgba(32, 32, 32, 0.274) 1pz 1px 1px;
}

.ok {
	position:absolute; 
	top: -2px;
	
	background: rgba(27, 160, 9, 0.8);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
	height: 40px;
	line-height: 40px;
	outline: 0;
	overflow: hidden;
	padding: 0 20px;
	pointer-events: auto;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	user-select: none;
	-webkit-user-select: none;
	vertical-align: top;
	white-space: nowrap;
	width: 80%;
	z-index: 9;
	border: 0;
	transition: box-shadow .2s;

  }
  
  .ok:hover {
	box-shadow: rgba(22, 10, 5, 0.5) 3px 2px 3px;
  }

  /* God help any soul who goes through this css , i tried modifying and it was a nightmare */
  .bad {
	position:absolute; 
	top: -2px;
	
	background: rgba(230, 19, 19, 0.8);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
	height: 40px;
	line-height: 40px;
	outline: 0;
	overflow: hidden;
	padding: 0 20px;
	pointer-events: auto;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	user-select: none;
	-webkit-user-select: none;
	vertical-align: top;
	white-space: nowrap;
	width: 100%;
	z-index: 9;
	border: 0;
	transition: box-shadow .2s;
  }

  .pendingdata,.approvedata
  {
	  
	  vertical-align: middle !important;
  }

  
  .bad:hover {
	box-shadow: rgba(22, 10, 5, 0.5) 3px 2px 3px;
  }

#Approved:hover, .MarkComplete:hover {
	background:linear-gradient(to bottom, #06b814 5%, #ffc477 100%);
	background-color:#06b814;
}
#Approved:active, .MarkComplete:active {
	position:relative;
	top:1px;
}

.tableDiv{
	overflow-x:auto;
	max-width: 100%;
	max-height: 400px;
}

.uploadimageformdiv
{
	background-color: #fff;
	box-shadow: -1px 5px 8px  rgb(172, 172, 172);
	border-radius: 6px;
	width:100%;
	height: 75%;
	text-align: center;

	display:grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
}

.uploadimageform{
	height:100%;
	
}

.formdiv
{
	width:100%;
	height:400px;
	text-align: center;
	padding-top: 50px;
	grid-area: 1 / 1 / span 1 / span 1;
}

.previewimagediv
{
	width:100%;
	grid-area: 1 / 2 / span 1 / span 1;
	text-align: center;
	padding-top: 50px;
}

.formfields
{
	width:90%;
	margin:10px;
}

input::file-selector-button
{
	border: none;
}

input
{
	width:50%;
}




.filebutton
{
	display: flex;
	justify-content: center;
	margin-left:18%;
}

#infotext
{
	margin-top: 16px;
}


/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(8, 158, 33); 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #b30000; 
  }
  
  /* On small screens, set height to 'auto' for the grid */
  @media screen and (max-width: 767px) {
    .row.content {height: auto;} 
  }