.galleryheader
{
    background-color: rgba(24, 23, 23,0.95);
    backdrop-filter: blur(3px);
    padding:24px;
    margin:12px;
    color:white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px rgb(122, 122, 122);
    text-align:center;
    border-radius: 12px;
    
}

h1
{
    font-size: 50px;
    line-height: 1.5;
}

.gallerycontent
{
    background-color: rgba(95, 94, 94,0.7);
    backdrop-filter: blur(3px);
    width:99%;
    border-radius: 12px;
    padding:12px;
    margin: 10px;

    display:flex;
    flex-wrap: wrap;
    overflow-y:scroll;
    max-height: 900px;
    justify-content: center;
}


.imagediv
{
    color:white;
    width:350px;
    padding:12px;
    padding-bottom: 20px;
   /* margin-left:8px;
    margin-right:8px;
    */
    margin-left:0.45vw;
    margin-right:0.45vw;
    margin-top:12px;
    margin-bottom:12px;
    background-color: rgba(34, 33, 33, 0.7);
    
    border-radius: 12px;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 90% 10%;

    box-shadow: 2px 2px 2px  rgb(43, 41, 41);
    transition: box-shadow 100ms ease-in-out;
}

.imagediv:empty{
    display: none;
}

.imagediv:hover
{
    box-shadow: 6px 6px 6px  rgb(43, 41, 41);
}
.imginfo
{
    grid-area: 2 / 1 / span 1 / span 1;
    justify-self: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px rgb(122, 122, 122);
}

.imgclass
{
    grid-area: 1 / 1 / span 1 / span 1;
    border-radius: 12px;
    word-wrap: normal;
    justify-self: center;
}

.galleryCategory{
    background-color: rgba(24, 23, 23,0.95);
    backdrop-filter: blur(3px);
    padding:5px;
    margin:5px;
    text-align:center;
    border-radius: 12px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}


.cat{
    font-family: 'League Gothic';
    font-size: 30px;
    padding: 40px;
    display: inline;
    color: white;
    text-decoration: none;
}
.cat:hover {
    color: rgb(248, 232, 88) !important;
    cursor: pointer !important ;
   
}




