.CustomOrderHeader {
  background-color: rgba(24, 23, 23, 0.95);
  backdrop-filter: blur(3px);
  padding: 24px;
  margin: 12px;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 2px rgb(122, 122, 122);
  text-align: center;
  border-radius: 12px;
}

h1 {
  font-size: 50px;
  line-height: 1.5;
}

.CustomOrderForm {
  background-color: rgba(24, 23, 23,0.95);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  padding: 24px; 
  margin: auto;
  margin-bottom: 5%;
  
  text-align: center;
  width: 60%;

}

.formtitle
{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  text-align:left;
  padding:12px;
  margin-left:14%;
  text-shadow: 2px 2px 2px rgb(122, 122, 122);
}

mat-label {
  color: white;
  
}

input.matInput {
  color: white;
}

input,
label,
select {
  color: white;
}

.emojip
{
  font-weight: normal !important;
}
textarea {
  color: white;
  resize:vertical;
  max-height: 175px;
  min-height: 65px;
}

textarea::-webkit-resizer
{
  border: 0px ridge rgb(194, 194, 194);
  background-color: rgb(29, 28, 28);
  
  border-bottom-width: 2px;
  border-right-width: 2px;
  
  
}

::ng-deep .mat-select-value
{    
  color: white !important;
}

::ng-deep .mat-select-arrow {
  color: rgb(194, 194, 194);
}

::ng-deep .mat-select-panel
{
  background-color: rgba(24, 23, 23, 0.555);
  backdrop-filter: blur(12px);
  color:white;
  
}

::ng-deep .mat-option-text
{
  color:white;
}

mat-form-field {
  border-color: white;;
  width: 70%;
  font-size: 26px;
}

button{
  font-size: 22px;
  background-color: rgb(212, 209, 209);
  margin-bottom: 10px;
}

.mat-raised-button[disabled]{
  background-color: rgba(206, 206, 206, 0.356);

}

.swal-button--btn-success{
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4962B3;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button--btn-danger{
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4962B3;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}